.product-button-card {
  background-color: var(--button-color);
  padding: 10px;
  color: var(--text-white);
  cursor: pointer;
  border-radius: var(--border-radius);
  transition: background-color 0.2s;
}
