.address-border {
    border: 1px solid #e2e8f0;
    margin-bottom: 10px;
    padding: 5px;
    align-items: center;
}

.add-address {
    border: 1px solid #e2e8f0;
    background-color: white;
    margin-bottom: 10px;
}

.add-address-button {
    border: none;
    background-color: inherit;
}

.add-address:hover {
    background-color: var(--hover-button-color);
    color: white;
}

.add-form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--hover-button-color);
    border-radius: 8px;
    box-shadow: var(--generel-shadow);
}

.address-form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.add-form-group label {
    font-size: 14px;
    color: #333333;
    margin-right: 5px;
}

.add-form-group input {
    padding: 4px;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.2s;
}

.add-submit-button {
    padding: 10px;
    font-size: 14px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0, 2s;
}

.add-submit-button:hover {
    background-color: #0056b3;
}
